body{display: grid;
grid-template-rows: 1fr 2fr 1fr ;grid-template-columns: repeat(3, 1fr);
grid-template-areas: "gren gren gren"
                     "whellowe rede blu"
                     "orang orang blu";}



#y {
grid-area:whellowe ;
}

#r {
grid-area: rede;
}

#g {
grid-area:gren ;
}

#o {
grid-area:orang ;
}

#b {grid-area:blu ;
}

ul {display: grid;
grid-template-columns: 1fr 1fr;}